$f1px:	.0267rem;
$f5px:	.1333rem;
$f10px:	.26667rem;
$f12px:	.32rem;
$f12_5px: .3333rem;
$f14px:	.3733rem;
$f18px:	.48rem;
$f16_5px:.444rem;
$f20px:	.5333rem;
$f60px:	1.6rem;
$f318px:8.5rem;
$f27px: 0.728rem;
